#slide{
    margin: 20px auto;
    margin-bottom: 200px;
}
#slide > div {
    width: 80vw;
    margin: auto;
}

.slick-dots {
    position: relative;
    bottom: -30px;
    margin: 0;
    /*transform: translate(+10%, +10%);
    transform: scale(1, 1);*/
}

.slick-dots li {
    opacity: .5;
    position: relative;
}

.slick-dots li span {
    width: 100px;
    height: 0px;
    position: absolute;
    display: block;
    top: 110px;
    left: -5px;
    transform: rotate(90deg);
}

/*.slick-dots li img:hover {
    transform: translate(115%, 115%);
    transform: scale(1.3, 1.3);
    transition: transform 0.25s;
}*/

.dot-focus {
    transform: translate(115%, 115%);
    transform: scale(1.3, 1.3);
    opacity: 1 !important;
}
